@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f5f5f3;
}

/* compensate fixed navbar */
body {
  padding-top: 72px;
  line-height: 1.75;
}

