:root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6; 
  box-sizing: border-box;
  font-family: 'Bubblegum Sans', cursive;
  font-family: 'Lato', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
